## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/chriskempson/base16-xresources/blob/master/base16-chalk.light.256.xresources
# Base16 Chalk
# Scheme: Chris Kempson (http://chriskempson.com)
foreground=#303030
background=#f5f5f5
cursor=#303030

color0=#151515
color1=#fb9fb1
color2=#acc267
color3=#ddb26f
color4=#6fc2ef
color5=#e1a3ee
color6=#12cfc0
color7=#d0d0d0
color8=#505050
color9=#fb9fb1
color10=#acc267
color11=#ddb26f
color12=#6fc2ef
color13=#e1a3ee
color14=#12cfc0
color15=#f5f5f5

color16=#eda987
color17=#deaf8f
color18=#202020
color19=#303030
color20=#b0b0b0
color21=#e0e0e0
