## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/chriskempson/base16-xresources/blob/master/base16-atelierforest.light.256.xresources
# Base16 Atelier Forest
# Scheme: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest)
foreground=#68615e
background=#f1efee
cursor=#68615e

color0=#1b1918
color1=#f22c40
color2=#5ab738
color3=#d5911a
color4=#407ee7
color5=#6666ea
color6=#00ad9c
color7=#a8a19f
color8=#766e6b
color9=#f22c40
color10=#5ab738
color11=#d5911a
color12=#407ee7
color13=#6666ea
color14=#00ad9c
color15=#f1efee

color16=#df5320
color17=#c33ff3
color18=#2c2421
color19=#68615e
color20=#9c9491
color21=#e6e2e0
