## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/chriskempson/base16-xresources/blob/master/base16-atelierdune.light.256.xresources
# Base16 Atelier Dune
# Scheme: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
foreground=#6e6b5e
background=#fefbec
cursor=#6e6b5e

color0=#20201d
color1=#d73737
color2=#60ac39
color3=#cfb017
color4=#6684e1
color5=#b854d4
color6=#1fad83
color7=#a6a28c
color8=#7d7a68
color9=#d73737
color10=#60ac39
color11=#cfb017
color12=#6684e1
color13=#b854d4
color14=#1fad83
color15=#fefbec

color16=#b65611
color17=#d43552
color18=#292824
color19=#6e6b5e
color20=#999580
color21=#e8e4cf
