## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

foreground=#c9ccd3
background=#263238
cursor=#c9ccd3

color0=#2c393f
color1=#8bd649
color2=#82aaff
color3=#89ddff
color4=#ea9560
color5=#ec5f67
color6=#ec5f67
color7=#cdd3de

color8=#707880
color9=#8bd649
color10=#82aaff
color11=#89ddff
color12=#ea9560
color13=#ec5f67
color14=#ffffff
color15=#d5dbe6
