## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://draculatheme.com/
# https://github.com/dracula/xresources/blob/master/Xresources
# special
foreground=#f8f8f2
cursor=#f8f8f2
background=#282a36
# black
color0=#000000
color8=#4d4d4d
# red
color1=#ff5555
color9=#ff6e67
# green
color2=#50fa7b
color10=#5af78e
# yellow
color3=#f1fa8c
color11=#f4f99d
# blue
color4=#caa9fa
color12=#caa9fa
# magenta
color5=#ff79c6
color13=#ff92d0
# cyan
color6=#8be9fd
color14=#9aedfe
# white
color7=#bfbfbf
color15=#e6e6e6

