## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/whatyouhide/gotham-contrib/blob/master/xresources/gotham
foreground=   #98d1ce
background=   #0a0f14
cursor=       #98d1ce

color0=       #0a0f14
color8=       #10151b

color1=       #c33027
color9=       #d26939

color2=       #26a98b
color10=      #081f2d

color3=       #edb54b
color11=      #245361

color4=       #195465
color12=      #093748

color5=       #4e5165
color13=      #888ba5

color6=       #33859d
color14=      #599caa

color7=       #98d1ce
color15=      #d3ebe9
