## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

background= #1d2021
foreground= #ebdbb2

color0=  #282828
color8=  #928374
color1=  #cc241d
color9=  #fb4934
color2=  #98971a
color10= #b8bb26
color3=  #d79921
color11= #fabd2f
color4=  #458588
color12= #83a598
color5=  #b16286
color13= #d3869b
color6=  #689d6a
color14= #8ec07c
color7=  #a89984
color15= #ebdbb2
