## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/altercation/solarized/blob/master/xresources/solarized
background=#fdf6e3
foreground=#657b83
cursor=#586e75

color0=#073642
color1=#dc322f
color2=#859900
color3=#b58900
color4=#268bd2
color5=#d33682
color6=#2aa198
color7=#eee8d5
color8=#002b36
color9=#cb4b16
color10=#586e75
color11=#657b83
color12=#839496
color13=#6c71c4
color14=#93a1a1
color15=#fdf6e3
