## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = Iosevka Nerd Font 10
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# https://github.com/mashaal/wild-cherry

background= #1F1626
foreground= #FFFFFF
cursor=     #0F9DBA

color0=   #099BD7
color10=  #2AB250
color11=  #FFD16F
color12=  #883CDB
color13=  #099BD7
color14=  #4F5D95
color15=  #FFF8DE
color1=   #D94085
color2=   #2AB250
color3=   #FFD16F
color4=   #883CDC
color5=   #0F9DBA
color6=   #4F5D95
color7=   #FFF8DD
color8=   #099BD7
color9=   #D94084
